// _mixins.scss

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: 480px) { @content; }
  } @else if $breakpoint == md { // Tablet
    @media (min-width: 768px) { @content; }
  } @else if $breakpoint == lg {
    @media (min-width: 1024px) { @content; }
  } @else if $breakpoint == xl {
    @media (min-width: 1200px) { @content; }
  } @else if $breakpoint == xxl {
    @media (min-width: 1600px) { @content; }
  } 
}

@mixin till-respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 479px) { @content; }
  } @else if $breakpoint == md { // Tablet
    @media (max-width: 767px) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: 1023px) { @content; }
  } @else if $breakpoint == xl {
    @media (max-width: 1199px) { @content; }
  } @else if $breakpoint == xxl {
    @media (max-width: 1599px) { @content; }
  } 
}
